.grass{ background-color: rgb(96, 189, 88);}
.water{ background-color: rgb(83, 157, 223) ;}
.fire { background-color: rgb(251, 166, 76);}
.bug{ background-color: #92BD2D ;}
.dark{ background-color: #595761 ;}
.dragon{ background-color: #0C6AC8 ;}
.electric{ background-color: #F2D94E ;}
.fairy{ background-color: #EF90E6;}
.fighting{ background-color: #D3425F;}
.flying{ background-color: #A1BBEC;}
.ghost{ background-color: #5F6DBC ;}
.ground{background-color: #DA7C4D ;}
.ice{ background-color: #76D1C1;}
.normal{background-color: #A0A29F}
.poison{ background-color: #B763CF;}
.psychic{background-color: #FA8582 ;}
.rock{ background-color: #C9BC8A;}
.steel{background-color: #5795A3;}